{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-start justify-start w-screen py-12 px-4 sm:px-6 lg:px-8 relative">
  <!-- Video Background -->
  <video autoplay loop muted playsinline class="absolute top-0 left-0 w-full h-full object-cover z-0">
    <source src="{% static 'video/video-login.webm' %}" type="video/webm">
    Your browser does not support the video tag.
  </video>

  <!-- Black Overlay -->
  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 z-1"></div>

  <div class="max-w-md w-full space-y-8 p-10 z-10 relative">
    <!-- Logo -->
    <div class="text-left">
      <a href="/" class="flex justify-start mb-6">
        <img src="{% static 'image/JOSH_White.svg' %}" alt="JOSH Logo" class="h-32 w-auto"> <!-- Increased the logo size -->
      </a>
      <h1 class="font-semibold text-xl text-gray-100">
        Sign In to Your Account
      </h1>
    </div>

    <!-- Form -->
    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="space-y-6">
        <div class="relative">
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" type="text" required 
                 class="appearance-none bg-transparent border-b-2 border-gray-300 w-full text-white placeholder-gray-400 focus:outline-none focus:ring-0 focus:border-gold transition-colors duration-200 sm:text-sm" 
                 placeholder="Username">
        </div>
        <div class="relative">
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" required 
                 class="appearance-none bg-transparent border-b-2 border-gray-300 w-full text-white placeholder-gray-400 focus:outline-none focus:ring-0 focus:border-gold transition-colors duration-200 sm:text-sm" 
                 placeholder="Password">
        </div>
      </div>

      <div class="flex justify-start w-full">
        <button type="submit" class="w-full py-3 px-0 border border-transparent rounded-lg text-white bg-gold flex justify-start items-center">
          Sign in
        </button>
      </div>
    </form>


    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      {% if message.tags == "success" %}
            <div class="border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% elif message.tags == "error" %}
            <div class="border border-red-300 text-red-300 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% else %}
            <div class="border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <!-- Register link -->
    <div class="text-left mt-4 w-full">
      <p class="text-sm text-gray-400">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-gold hover:text-gold-dark transition-colors">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>

{% include 'footer2.html' %}

{% endblock content %}


